<div class="side-header">Spotify Mapper</div>
<hr>
<div class="side-content">
    <img src="/icons/magnifier13.svg" alt="Search" height="15px">
    {{input value=artistName action="updateArtistID" on="enter"}}
</div>
