<div class="side-header">
    Spotify Mapper
    <img src="/icons/expand38.svg" alt="Expand" height="15px" class="expand-caret" {{action 'toggleContentVisible'}}>
</div>
{{#if contentVisible}}
    <div class="side-content">
        <img src="/icons/magnifier13.svg" alt="Search" height="15px">
      {{input value=artistName placeholder="The Clash" action="updateArtistID" on="enter"}}
    </div>
{{/if}}