html {
  font-family: 'Roboto', sans-serif;

  height: 100%;
  background-color: #F8F8FF;
  .pull-right{
    float: right
  }
  body {
    margin: 0;
    .ember-view {
      .side-bar {
        position: fixed;
        top: 20px;
        left: 20px;
        float: left;
        width: 240px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px #9d9d9d;
        z-index: 9999;

        background-color: rgba(255, 255, 255, 0.45);

        input {
          width: 80%;
        }

        .side-header {
          .title{
            text-shadow: 1px 1px #257c05;
            padding-left: 5px;
            vertical-align: top;
            line-height: 30px;
            font-size: 18pt;
            font-weight: bold;
            color: #62bb46;
          }
          background-color: rgba(240, 240, 240, 0.45);
          padding: 5px;
          .expand-caret {
            position: relative;
            float: right;
            top: 1px;
            right: 2px;
            cursor: pointer;
          }
        }

        .side-content {
          background-color: rgba(255, 255, 255, 0.45);
          margin: 5px 4px 5px;
          padding-left: 5px;
          .search-bar{
            input{
              width: 180px;
              line-height: 48px;
              font-size: 22px;
              border-radius: 0 4px 4px 0;
              border: 0px solid #dddee1;
              background-color: rgba(255, 255, 255, 0.45);
              padding-left: 10px;
              color: #62bb46;
            }
            input:focus{
              outline: 0;
            }

            $placeholder-color: rgba(98, 187, 70, 0.48);
            input::-webkit-input-placeholder {
              color: $placeholder-color;
            }
            input:-moz-placeholder{
              color: $placeholder-color;
            }
            input::-moz-placeholder{
              color: $placeholder-color;
            }
            input:-ms-input-placeholder{
              color: $placeholder-color;
            }
            input:focus::-webkit-input-placeholder {
              color: rgba(255, 255, 255, 0.45);
            }
            input:focus:-moz-placeholder{
              color: rgba(255, 255, 255, 0.45);
            }
            input:focus::-moz-placeholder{
              color: rgba(255, 255, 255, 0.45);
            }
            input:focus:-ms-input-placeholder{
              color: rgba(255, 255, 255, 0.45);
            }
          }
        }

        .side-divider {
          margin: 5px;
          border: 0;
          height: 2px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #AAA, rgba(0, 0, 0, 0));
        }

        .node-info {
          padding: 5px 5px 0 5px;

          h3 {
            margin: 0 0 5px 5px;
          }

          .genres {
            padding-left: 5px;
            font-style: italic;
          }

          #img-thumbnail{
            margin: 5px 15px 5px 15px;
            border-radius: 15px;
          }

          .search{
            margin-top: 7px
          }

          #search-yt {
            cursor: pointer;
          }

          .spotify-logo {
            margin-bottom: 10px;
          }
        }
      }

      .d3-map {
        text {
          font-family: 'Roboto Mono', ;
          text-shadow: 1px 1px 1px #FFF, -1px -1px 1px #FFF, -1px 1px 1px #FFF, 1px -1px 1px #FFF;
          cursor: pointer;
        }

        .node {
          stroke: #2f9c05;
          stroke-width: 1.5px;
          fill: rgba(108, 200, 73, 0.49);
          cursor: pointer;
        }

        .link {
          stroke: #95C686;
          stroke-opacity: .6;
          stroke-width: 1px;
        }
      }

      .infos {
        float: left;
        position: fixed;
        bottom: 10px;
        left: 10px;
        color: #888;

        p {
          margin: 0;
          text-align: right;
        }
      }

      .credits {
        float: right;
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: #888;

        a, a:visited {
          color: rgba(6, 81, 221, 0.62);
        }

        p {
          margin: 0;
          text-align: right;
        }
      }
    }
  }
}
