html {
  height: 100%;

  body {
    margin: 0;
    .ember-view {
      .side-bar {
        position: fixed;
        top: 20px;
        left: 20px;
        float: left;
        width: 200px;
        border-radius: 3px;
        box-shadow: 5px 5px 10px #9d9d9d;
        z-index: 9999;

        background-color: rgba(200, 255, 210, 0.45);

        .side-header {
          font-size: 12pt;
          font-weight: bold;
          font-family: Verdana, Geneva, sans-serif;
          background-color: rgba(142, 199, 160, 0.45);

          padding: 5px;

          .expand-caret {
            position: relative;
            float: right;
            top: 1px;
            right: 2px;
            cursor: pointer;
          }
        }

        .side-content {
          padding: 10px;
        }

        .side-divider {
          margin: 5px 10px 5px 10px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.51);
          border: none;
        }

        .node-info {
          padding: 5px 5px 0 5px;

          h3 {
            margin: 0;
          }

          .genres {
            font-style: italic;
          }

          img {
            cursor: pointer;
          }

          .spotify-logo {
            margin-bottom: 10px;
          }
        }
      }

      .d3-map {
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
          fill: #4CBE44;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
          stroke-width: 1px;
        }
      }

      .credits {
        float: right;
        position: fixed;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}
