html {
  height: 100%;

  body {
    margin: 0;

    header {
      font-size: 20pt;
      padding: 10px;
      background-color: rgba(227, 254, 223, 0.54);
    }

    .ember-view {
      .d3-map {
        .node {
          stroke: #fff;
          stroke-width: 1.5px;
          fill: #4CBE44;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
          stroke-width: 1px;
        }
      }
    }
  }
}
