{{side-bar artistID=artistID selectedNode=selectedNode}}
{{d3-map artistID=artistID selectedNode=selectedNode}}

<div class="infos">
    <p>Click on an artist to display more information</p>
    <p>Double click on an artist to re-center the map</p>
</div>

<div class="credits">
    <p>Created By <a href="https://github.com/TisButMe">Thomas Poinsot</a></p>
    <p>Made Pretty By <a href="https://github.com/ThibaultLatrille">Thibault Latrille</a></p>
</div>