{{side-bar artistID=artistID selectedNode=selectedNode}}
{{d3-map artistID=artistID selectedNode=selectedNode}}

<div class="credits">
    By <a href="https://github.com/TisButMe">Thomas Poinsot</a>
</div>