<div class="ui modal">
    <div class="ui modal-header header">Help</div>
    <div class="ui content">
        <div class="ui items">
            <div class="item">
                <div class="content">
                    <a class="header">What is BandMap?</a>
                    <div class="description">
                        <p>
                            BandMap is a music discovery service. It was written by <a href="https://github.com/TisButMe" target="_blank">me</a>
                            because I wanted to have a tool to visualize which bands were close to my favorites, in a way that would let me see
                            the ones I didn't already know about.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">What does the size of the circles mean?</a>
                    <div class="description">
                        <p>
                            The radius of each circle is proportional to the artist popularity, according to Spotify.
                        </p>
                        <p>
                            Note: I'm not using a linear scale: most artists are in the same range of popularity, and using
                            a linear scale wouldn't really display the differences well.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">How do I use BandMap?</a>
                    <div class="description">
                        <p>It's up to you!</p>
                        <p>You can click on an artist to find out more about him/her and launch a spotify/youtube search for
                            that artist. You can also double click on any circle to re-center the graph on that artist.</p>
                        <p>The way I usually use BandMap is:
                          <ol>
                            <li>Search for an artist I like.</li>
                            <li>Look for unknown name in the generated graph.</li>
                            <li>Listen to what they do!</li>
                          </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">Where do you find the data to make the graph?</a>
                    <div class="description">
                        <p>
                            Spotify's API. Spotify is nice enough to provide a nice API to fetch data
                            about the artists they have in their catalog. For more information, please read their
                            documentation <a href="https://developer.spotify.com/web-api/" target="_blank">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>